:root {
    font-size: 16px;
    --primary-color: #3584E4;
    --primary-color-hover: #72A9EC;
    --radius: .4rem;
    --transition: .3s;
    --yellow-50: #fefce8;
    --yellow-100: #fef9c3;
    --yellow-200: #fef9c3;
    --yellow-300: #fde047;
    --yellow-400: #fde047;
    --yellow-500: #eab308;
    --yellow-600: #ca8a04;
    --yellow-700: #ca8a04;
    --yellow-800: #854d0e;
    --yellow-900: #713f12;
    --yellow-950: #422006;
}

.dark {
    --border-color: #ffffff33;
    --bg-color: #1e1e1e;
    --pg-color: #303030;
    --text-color: #ffffff;
    --shadow-color:#ffffff26;
}

.light {
    --border-color: #00000033;
    --bg-color: #ffffff;
    --pg-color: #ebebeb;
    --text-color: #000000;
    --shadow-color:#00000026;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: var(--transition);
}

body {
    background-color: var(--bg-color);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home header {
    width: 100vw;
    max-width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--radius);
    background-color: var(--primary-color);
}

.btns:hover {
    background-color: var(--primary-color-hover);
}

.selected-month {
    width: 10rem;
    height: 2rem;
    padding: 0 .5rem;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
    border-radius: var(--radius);
    cursor: pointer;
    margin: 0 0 0 .5rem;
}

.settings-btn {
    width: 2rem;
    height: 2rem;
    margin: 0 .5rem 0 0;
}

.home main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 50rem;
    margin: .5rem;
}

.monitor {
    display: flex;
    margin: 1rem .5rem;
    background-color: var(--yellow-800);
    height: 4rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: var(--radius);
    text-align: center;
    font-size: 1.1rem;
}

.description {
    height: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    margin: .5rem;
    background-color: var(--pg-color);
    border-radius: var(--radius);
}

.description_icon {
    transform: translateY(10%);
    margin: 0 .5rem;
}

.description_value {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: .5rem;
}

footer {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
}

footer button {
    width: 48%;
    font-size: 1rem;
}

.income-screen {
    display: none;
}

.expense-screen {
    display: none;
}

/* income and expense screen*/

.in-ex-screen {
    display: none;
    flex-direction: column;
    align-items: center;
}

.in-ex-screen_return-home-btn {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    width: 39px;
    height: 39px;
    left: 0rem;
}

.in-ex-screen_return-home-btn img {
    height: 39px;
}

.in-ex-screen_title {
    font-size: 2rem;    
}

.in-ex-screen main {
    display: flex;
    flex-direction: column;
    width: 50%;
    transform: translateY(-50%);
    margin-top: 50%;
    width: 70%;
    font-size: 1rem;
}

.in-ex-screen main select {
    height: 2rem;
    padding: 0 .5rem;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
    border-radius: var(--radius);
    cursor: pointer;
    margin: .5rem 0;
}

.in-ex-screen main input {
    height: 2rem;
    padding: 0 .5rem;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
    border-radius: var(--radius);
    cursor: pointer;
    margin: .5rem 0;
}

.in-ex-screen footer {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
}

/* SETTINGS */

.settings-screen {
    display: none;
    flex-direction: column;
    align-items: center;
}

.settings-screen_return-home-btn {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    width: 39px;
    height: 39px;
    left: 0rem;
}

.settings-screen_return-home-btn img {
    height: 39px;
}

.settings-screen_title {
    font-size: 2rem;    
    margin-bottom: 1rem;
}

.settings-screen main {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.settings-screen main span {
    font-size: 1.2rem;
    cursor: pointer;
    border-bottom: .1rem solid var(--border-color);
    padding: 1rem;
    width: 100%;
    max-width: 50rem;
}

.settings-screen main span:hover {
    background-color: #ffffff22;
}

.settings-screen main span img {
    margin: 0 .5rem 0 0;
}

.options-display {
    display: none;
}

.profile-display {
    display: none;
    flex-direction: column;
}

.profile-display span {
    font-size: 1.2rem;
    border-radius: var(--radius);
    padding: .4rem 2rem;
    margin: 0 0 .5rem 0;
    cursor: pointer;
}

.profile-display .select-profile {
    border: .1rem solid var(--border-color);
}

.profile-display span img {
    margin-right: .5rem;
}

.profile-display button {
    font-size: 1rem;
    padding: .5rem;
    margin: 0 0 .5rem 0;
}

.data-display {
    display: none;
    flex-direction: column;
}

.data-display span, .data-display label {
    text-align: center;
    padding: .5rem;
    margin-bottom: .5rem;
    cursor: pointer;
    border: .1rem solid var(--border-color);
    font-size: 1.2rem;
    border-radius: var(--radius);
}

.data-display span:hover, .data-display label:hover {
    background-color: #ffffff22;
}

.data-display input {
    display: none;
}

.delete-all-finaces {
    color: #ff5757;
}

.theme-display {
    display: none;
    flex-direction: column;
}

.theme-display select {
    cursor: pointer;
    color: var(--text-color);
    padding: .5rem;
    border-radius: var(--radius);
    background-color: transparent;
    font-size: 1.2rem;
    border: .1rem solid var(--border-color);
}

.language-display {
    display: none;
    flex-direction: column;
}

.language-display select {
    cursor: pointer;
    color: var(--text-color);
    padding: .5rem;
    border-radius: var(--radius);
    background-color: transparent;
    font-size: 1.2rem;
    border: .1rem solid var(--border-color);
    width: 10rem;
}

.about-display {
    display: none;
    flex-direction: column;
}


.about-display .app-name {
    margin-top: 20rem;
    text-align: center;
    padding: .5 10rem;
    font-size: 2rem;
    font-weight: bolder;
}

.about-display .context {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    margin-top: 1.5rem;
}

.about-display .legal-text {
    max-width: 14rem;
    text-align: justify;
    font-size: .8rem;
}

/* CONFIRM */

.confirm {
    display: none;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: var(--pg-color);
    border-radius: var(--radius);
    max-width: 30rem;
}

.confirm-btns-container {
    display: flex;
}

.confirm-msg {
    padding: 2rem;
    font-weight: bolder;
    font-size: 1.2rem;
    text-align: center;
}

.confirm-btns {
    width: 50%;
    background-color: var(--pg-color);
    cursor: pointer;
    padding: .8rem;
    font-size: 1.1rem;
    border: .1rem solid var(--border-color);
    font-weight: bolder;
}

.cancel-confirmation-btn {
    border-radius: 0 0 0 var(--radius);
}

.confirm-confirmation-btn {
    border-radius: 0 0 var(--radius) 0;
    color: #ff5757;
}

@media screen and (min-width: 800px) {
    footer {
        max-width: 50rem;
    }
}